/************************
General
************************/
a{
    text-decoration: none;
}

img{
    max-width: 100%;
    border-radius: 10%;
}


body{
    font-family: "Open Sans" sans-serif;
}

h3{
    margin: 0 0 1em 0;
    
}



/************************
Header
************************/
header{
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0;
    width: 100%
}

*wrapper{
   /*MAx-width is related to width. But instead width, max-width that can be smaller on mobile devices/tablets.*/
    max-width: 940px;
    /*Margin 0 is for all sides.*/
    margin: 0 auto;
    background-color: blue;
    /*Value first is one top an bottom. Second is left and right.*/
    padding: 0 5%;
}

#logo{
    /*Our name and description of who we are.*/
    text-align: center;
    margin: 0;
}

h1{
    font-family: 'Lora', sans-serif;
    margin: 15px 0;
    font-size: 1.75em; 
}

h2{
    font-size: 0.75em;
    /*1st value is for top. 2nd value is for left to right.*/
    margin: -5px 0 0;
}


/***********************
Navigation
************************/
nav{
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul{
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li{
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}


/************************
Footer
************************/
footer{
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #000066;
    clear: both;
}

.social-media-icon{
    width: 50px;
    height: 50px;
    margin: 0 5px;
        
}

/************************
Page Portflolio
************************/
#gallery{
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li{
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #000066;
    color: lime;
    border-radius: 10%;
}

#gallery li a p{
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: lime;
        
    
}


/************************
About Me Page
************************/
.porfile-photo{
    display: block;
    max-width: 0 auto 30px;
    border-radius: 25%;
    margin: 10% 0 0;
}

/************************
Contact Page 
************************/
.contact-info{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}




.contact-info a {
    display: block;
    min-height: 20px;
    /*by default it will always repeat, background images*/
    background-repeat: no-repeat;
    /*re-size the img*/
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}


.contact-info li.gmail a {
    background-image: url('../images/gmail.png');
}  

.contact-info li.yahoo a {
    background-image: url('../images/yahoo.png');
}  





/************************
Colors
************************/
body{
    background-color:gray;
    color:#999;
}
a{
    color: #6699FF;
}

header{
    background-color: blue;
}

h1, h2{
    color: lavender;
}

nav{
    background-color: #000066;
}
/*Pseudo-Class*/
nav a, nav a:visited{
    color: #000;
}
nav a.selected, nav a:hover{
    color:lavender;
}
footer{
    background-color: blue;
}


/***********************
Media Querie
***********************/
/*TWO COLUMN LAYOUT*/
@media screen and (min-width: 480px){
    #primary{
        width: 45%;
        float: left;
    }
    
    #secondary{
       width: 35%;
       float: right;
       padding: 1.15em;
    }

/*Three Column Layout Portflilio*/

#gallery li {
    width: 28.3333%; 
}
#gallery li :nth-child(4n){
    clear: left;
}
/*About Page*/
.profile-photo{
    float: left;
    margin: 0 5% 80px 0;
}

@media screen and (min-width: 660px){
    /*NAV*/
    nav{
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo{
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 40%;
    }
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    header{
        border-bottom:  5px solid black;
        margin-bottom: 60px;
    }
    footer{
        border-top: 5px solid black;
    }
}    
